<h1>Homepage</h1>
<% if (!username) { %><a class="nav-link" href="/login">Login</a><% } %>
<% if (username) { %><a class="nav-link" href="/logout">Logout</a><% } %>
<% if (!username) { %><a class="nav-link" href="/register">Register</a><% } %>
<% if (username) { %><a class="nav-link" href=<%-`/users/${username}`%>>Profile</a> <% } %>
<a class="nav-link" href="/users">All users</a>
