<html>
  <head>
    <style>
      :root {
        font-size: 3vh;
      }

      body {
        padding: 1rem;
        width: 30rem;
        max-width: 100%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
      }

      h1 {
        font-size: 2rem;
        line-height: 1.3em;
      }
      a,
      p {
        font-size: 1rem;
        line-height: 1.3em;
        text-decoration: none;
      }
      a {
        color: blue;
      }
      a.nav-link {
        display: block;
      }
      label {
        display: inline-block;
        margin-right: 1rem;
        width: 5rem;
        text-align: right;
      }
      input {
        font-size: 0.85rem;
        line-height: 1.3em;
        background: none;
        outline: none;
        border: none;
        padding: 0.5rem;
        background: lightgray;
        border-radius: 0.2rem;
        width: 10rem;
      }
      .input-block {
        margin: 1rem 0;
      }
    </style>
  </head>
  <body>
    <% if (pageProps.username) { %><div class="profile-link">Logged in as <a href=<%-`/user/${pageProps.username}`%>><%- pageProps.username %></a></div>
    <% } %> <%- include(page, pageProps) %>
  </body>
</html>
