<h1>Profile</h1>
<p for="username">Username: <%- username %></p>
<p for="username">Account created at: <%- dateCreated %></p>
<div class="interactive-block">
<a class="interactive" href=<%-`/users/${username}/edit`%>>Edit account</a>
</div>
<form method="POST" action="">
  <input class="interactive" type="submit" value="Delete account" />
</form>
<a class="nav-link" href="/">Home</a>
